
.Rproj.user/29CC776F/sources/s-4C07C883/lock_file
.Rhistory
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/
*.dta
*.rds
*.xls
*.pdf
.RData
.RData
*.png
*.csv
*.csv
*.csv
*.xlsx
.RData
.RDataTmp
*.csv
input/transicao_csv/transicao_2019_1.csv
.RData
output/transicao_2019_1.csv
.RData
